 body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  h1 {
    color: white;
    font-family: "Titan One", cursive;
    margin-bottom: 20px;
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }
  
  .user {
    color: white;
    font-size: 24px;
    font-family: "Titan One", cursive;
  }

  .redText {
    color: red;
  }

  p {
    margin: 1rem;
  }

  #favouriteHistory {
    font-family: "Gloria Hallelujah", cursive;
  }


  

